// out: index.css, compress: true
@main-color: #000;
@bg-color: #fff;
@bg-text-color: #ccc;

body {
  background: @bg-color;
  color: @main-color;
  font-family: sans-serif;
  text-align: center;
  // display: grid;
  // place-items: center;
}

.container {
  width: 1000px;
  margin: auto;
  display: grid;
  grid-template-areas: "match match"
                       "journey season";
  
  & > :nth-child(1) { opacity: .3; }

  .journey,
  .season  { vertical-align: top; }
  
  .match { grid-area: match }
  .season { grid-area: season }
  .journey { grid-area: journey }

  img {
    width: 20px;
    height: 20px;
    margin: 10px 5px 0;
  }
  table{
    // width: 320px;
    margin: 20px auto;
    border-collapse: collapse;
    th, td {
      padding: 6px;
    }
    tbody {
      tr:nth-child(n){ background: lighten(@bg-text-color, 10%); }      
      tr:nth-child(2n){ background: @bg-text-color; }
    }
  }
}

button {
  background: @main-color;
  color: @bg-color;
  border: 0;
  padding: 10px;
  font-size: 1.25em;
  cursor: pointer;
  &::before{
    content: ">";
    margin-right: 15px;
  }
  &::after{
    content: "<";
    margin-left: 15px;
  }
}
